@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Crimson+Text:ital,wght@1,600&family=Inter:wght@600;700;800&family=Lato:ital,wght@0,700;1,700&family=Merriweather:ital,wght@1,300&family=Oswald:wght@500&family=Playfair+Display:wght@500;600&family=Poppins:ital,wght@0,400;0,600;0,700;0,800;0,900;1,800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Crimson+Text:ital,wght@1,600&family=Inter:wght@600;700;800&family=Lato:ital,wght@0,700;1,700&family=Merriweather:ital,wght@1,300&family=Oswald:wght@500&family=Playfair+Display:wght@500;600&family=Poppins:ital,wght@0,400;0,600;0,700;0,800;0,900;1,800&family=Roboto:wght@500&display=swap');
body{
    background-color:  hsl(30, 54%, 90%);
    padding: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 45%;
    background-color: white;
    padding: 2rem;
    border-radius: 20px;
}

@media(min-width:320px)and (max-width:700px) {
    img{
        width: 70%;
    }
    .container{
        width: 100%;
    transition: all 0.5s ease-in-out linear;
    }
    body{
        padding: 1rem;
    }
}
img{
    width: 100%;
   
    border-radius: 0.7rem;
}

.heading{
   font-size: 20px;
   font-weight: 800;
   font-family: 'Bebas Neue', sans-serif;
   color: rgba(0, 0, 0, 0.689);
}

.list{
    background-color: rgba(247, 199, 207, 0.33);
    width: 100%;
    padding-left: 0.5rem;
    border-radius: 10px;
}
.list h3{
color: rgb(114, 32, 90);
font-weight: 700;
font-style: bold;
padding-left: 20px;
font-size: 22px;
}

 span{
    color: black;
    font-weight: 900;
    font-family: 'Roboto', sans-serif;
}

 .heading-2{
    color: brown;
}

.nutrition__table {
    border-collapse: collapse;
    margin-top: 0.75rem;
    text-align: left;
    width: 100%;
}
     tr:not(:last-child) {
        border-bottom: 1px solid rgba(0, 0, 0, 0.275);
    }

     th {
        font-weight: var(--fw-regular);
        padding-block: 0.75rem;
        padding-inline-start: 2rem;
        width: 52%;
    }

     td {
        color: var(--clr-primary-400);
        font-weight: var(--fw-bold);
    }


table .data{
    color: brown;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.attribution{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    font-size: 15px;
}

li::marker{
    color: brown;
}
